* {
  margin: 0;
  padding: 0;
}

.d-flex {
  justify-content: center;
}

.headerIndex {
  height: 15vh;
  width: 100%;
}

.navbar-right {
  float: right;
}

ul li {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: black;
}

.badge {
  background-color: #ff0000;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  line-height: 1;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

ul li a span p {
  margin: 0;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}

.dropdown-menu {
  --bs-dropdown-min-width: 21rem;
  margin: -14rem;
}

.mainIndex {
  margin-top: 2rem;
  min-height: 70vh;
  width: 100%;
}

.mainIndex div h1 {
  margin: 0.4rem;
}

.mainIndex div h3 {
  margin: 0.4rem;
}

.mainIndex div nav {
  min-height: 70%;
}

.footerIndex {
  min-height: 15vh;
  width: 100%;
}

.copyright {
  width: 100%;
}
